// Define variables for your color scheme

// For example:
$red: #FD1015;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$darkblue: #12172b;
$mediumblue: #293462;
$mediumbluehover: #405199;
$blue: #929ed1;
$lightblue: #bbc3e3;
$backgroundblue: #e5e8f4;
$backgroundbluelight: #e5e8f4;
$white: #f2f4fa;
$yellow: #f7be16;
$yellowhover: #f9ce4f;
$darkgreen: #216583;
$lightgreen: #39a0cd ;
$turquoise: #00818a;
$lightturquoise: #00cad8;
