<p>Hi <%= @receiver.first_name %>,</p>

<p>Please check these figures : </p>

<span><%= link_to 'FENIX / DASHBOARD', url_for(@shared_url) %></span>

<p>Kind regards,</p>
<p><%= @sender.first_name %></p>
