// Specific CSS for your home-page

header {
  position: relative;
  background-color: $blue;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $blue;
  opacity: 0.6;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') $blue no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

header .btn-yellow {
margin-top: 50px;
padding: 20px;
font-size: 1.2rem;
}

.display-3 {
font-size: 3rem;
color: $white;
}










.about-area

.container-about {
  display: flex;
  align-items: center;
  justify-content: center;
}


.about-text p {
  font-style: italic;
  font-size: 21px;
}

.about-text .light {
  font-style: normal;
  font-size: 21px;
  opacity: 0.8;
}

.about-image img {
height: 300px;
margin-left: 30px;
}



// WHY

.why-area {
  background: white;
  padding: 50px 10px;
}

// .container-why {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-gap: 16px;
// }

.container-why {
  display:flex;
  justify-content: space-around;
  padding-bottom: 50px;
}

.why-area h2 {
  color: #12172b;
  font-size: 44px;
  line-height: 55px;
  margin-bottom: 100px;
}

.why-area p {
  margin-top: 20px;
  font-size: 30px;
  line-height: 55px;
  margin-bottom: 100px;
}

.why-image img {
height: 150px;
margin-bottom: 10px;
}

.container-how-usp {
  display: flex;
  align-items: center;
}



// HOW

.how-area {
  background: $backgroundbluelight;
  padding: 50px 10px;
}

.how-image img {
height: 100px;
margin-bottom: 10px;
}


.how-timeline img {
  height: 1400px;
}

.how-area h2 {
  color: #12172b;
    font-size: 44px;
    line-height: 55px;
    margin-bottom: 50px;
}


// FEEDBACK

.feedback-area {
  background: white;
  padding: 50px 10px;
}

.container-feedback {
  display: flex;
  align-items: space-around;
  justify-content: space-around;
}

.single-feedback {
  padding: 30px;
  margin: 10px;
background: $white;
}

.single-feedback p {
  font-style: italic;
  }

  .single-feedback .light {
  font-style: normal;
  opacity: 0.8;
}
