
<div class="container-all">

  <div class="container-dashboard">

    <div class="container-top">


    <div class="container-left">
      <h1>KPI</h1>
      <div class="card-kpi">
        <h1>Commissions Ratio</h1>
        <h2><%= @commission_ratio %></h2>
      </div>
      <div class="card-kpi">
        <h1>Claims Ratio</h1>
        <h2><%= @claim_ratio %></h2>
      </div>
      <div class="card-kpi">
        <h1>Balance Ratio</h1>
        <h2><%= @balance_ratio%></h2>
      </div>
    </div>

      <div class="container-right">

        <div class="card-table">
          <table>
            <tbody>
              <tr>
                <td>Table</td>
                <td>card</td>
                <td>info</td>
                <td>info</td>
              </tr>
              <tr>
                <td>00</td>
                <td>00</td>
                <td>00</td>
                <td>00</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="container-chart">
            <div class="card-chart">
          <div class="card-chart-img">
          </div>
          <div class="card-chart-text">
          Chart card
          </div>
            </div>
          <div class="card-chart">
          <div class="card-chart-img">
          </div>
          <div class="card-chart-text">
          Chart card
          </div>
            </div>
        </div>

      </div>

    </div>

    <div class="container-bottom">
      <h5>News</h5>
      <div class="card-news">
        News card
      </div>
    </div>

  </div>

</div>
