<div class="container-dashboard" id="dashboard-area">
  <div class="container-top">
    <div class="card-chart-renewal" id="renewalProgress">
      <div class="card-chart-text">
          Renewal Progress
          <canvas id="reinsComm" width="400" height="400"></canvas>
        </div>
    </div>
  </div>
</div>


