<div class="container-dashboard" id="dashboard-area">
  <div class="container-top">
    <div class="container-left">
      <div class="card-survey">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <div class="card-chart-text">
          <%= render 'shared/note' %>
        </div>
      </div>
    </div>
    <div class="container-right  d-flex">
      <div class="container-table">
        <div class="card-table">
          <table style="width:100%">
            <tr class="col-name">
              <th>Due Date</th>
              <th>Note</th>
              <th>Priority</th>
              <th>Status</th>
              <th>Update</th>
              <th>Delete</th>
              <!--EVENTUALLY TO INTEGRATE LATER ON
<th>User</th>
<th>Assigned to</th> -->
            </tr>
            <% @notes.each do |n|%>

              <tr>
                <td class="note-due-date"><%= n.due_date %></td>
                <td class="note-priority"><%= n.priority %></td>
                <td class="note-content"><%= n.comment %></td>
                <td><i class="far fa-pause-circle"></i></td>
              <td><i class="far fa-edit" id="update-icon"></i></td>
              <td><i class="far fa-trash-alt" id="delete-icon"></i></td>
              </tr>
            <% end %>
<!--               <td class="note-due-date">20/01/2020</td>
              <td class="note-priority">High</td>
              <td class="note-content">Bellis incursare per et si rege ordinatus versabili ordinatus inligato aliquotiens hostiliter a sollicite nostra si a locum bellis bellis rege ordinatus sollicite nos Nohodares in numero sollicite rege explorabat adducta Mesopotamiam adducta conlimitiis Persarum copia Mesopotamiam aliquotiens bellis eum usquam perrupturus quae adducta gentes moventem e finitimis dederit Mesopotamiam dederit nomine si quae conlimitiis nos saepe iuvant vi per iuvant nostra sollicite quadam arma nos et perrupturus quotiens re usquam quae incessunt locum Mesopotamiam repellenteque Mesopotamiam saepe quae bellis nomine in aliquotiens Persarum mente repellenteque quadam incessunt numero incessunt sollicite adducta mente arma et perrupturus perrupturus si sollicite sollicite.</td>
              <td><i class="far fa-pause-circle"></i></td>
              <td><i class="far fa-edit"></i></td>
              <td><i class="far fa-trash-alt"></i></td> -->
<!--             <tr>
              <td class="note-due-date">07/02/2020</td>
              <td class="note-priority">Medium</td>
              <td class="note-content">Eminuit autem inter humilia supergressa iam impotentia fines mediocrium delictorum nefanda Clematii cuiusdam Alexandrini nobilis mors repentina; cuius socrus cum misceri sibi generum, flagrans eius amore, non impetraret, ut ferebatur, per palatii pseudothyrum introducta, oblato pretioso reginae monili id adsecuta est, ut ad Honoratum tum comitem orientis formula missa letali omnino scelere nullo contactus idem Clematius nec hiscere nec loqui permissus occideretur. Quod si rectum statuerimus vel concedere amicis, quidquid velint, vel impetrare ab iis, quidquid velimus, perfecta quidem sapientia si simus, nihil habeat res vitii; sed loquimur de iis amicis qui ante oculos sunt, quos vidimus aut de quibus memoriam accepimus, quos novit vita communis. Ex hoc numero nobis exempla sumenda sunt, et eorum quidem maxime qui ad sapientiam proxime accedunt. Proinde die funestis interrogationibus praestituto imaginarius iudex equitum resedit magister adhibitis aliis iam quae essent agenda praedoctis, et adsistebant hinc inde notarii, quid quaesitum esset, quidve responsum, cursim ad Caesarem perferentes, cuius imperio truci, stimulis reginae exsertantis aurem subinde per aulaeum, nec diluere obiecta permissi nec defensi periere conplures.</td>
              <td><i class="far fa-play-circle"></i></td>
              <td><i class="far fa-edit"></i></td>
              <td><i class="far fa-trash-alt"></i></td>
            </tr>
            <tr>
              <td class="note-due-date">07/10/2019</td>
              <td class="note-priority">Low</td>
              <td class="note-content">Ipsum Catoni laudantur Catoni laudantur ne sic anteponas istum iudicavit ut quem sic sic sapientissimum illius loquar De Catoni ut autem enim habetote De ipsum sapientissimum cum istum ais rem utroque dicta ob sapientissimum Catoni anteponas ipsum habetote autem ne quem anteponas loquar sic rem sapientissimum vestrum loquar huius rem De quem utroque ais habetote huius laudantur habetote ut De ais ut ipsum anteponas iam sapientissimum quidem sic laudantur De autem laudantur cum vestrum ob ob loquar utroque quem ipsum iam De vestrum sic loquar utroque habetote me habetote huius Apollo facta illius enim ut ob utroque istum autem illius.</td>
              <td><i class="far fa-check-circle"></i></td>
              <td><i class="far fa-edit"></i></td>
              <td><i class="far fa-trash-alt"></i></td>
            </tr> -->
          </table>
        </div>
      </div>
    </div>
  </div>      <!-- Create an element where the map will take place -->
</div>
