
<div class="container-all">

  <div class="container-dashboard">

    <div class="container-top">


    <div class="container-left">
      <div class="card-kpi">
        <p class="kpi-title">Commissions Ratio</p>
        <h3 class="pki-amount"><%= @commission_ratio %></h3>
      </div>
      <div class="card-kpi">
        <p class="kpi-title">Claims Ratio</p>
        <h3 class="pki-amount"><%= @claim_ratio %></h3>
      </div>
      <div class="card-kpi">
        <p class="kpi-title">Balance Ratio</p>
        <h3 class="pki-amount"><%= @balance_ratio%></h3>
      </div>
    </div>

      <div class="container-right">

        <div class="card-table">
          <table>
            <tbody>
              <tr>
                <td>Table</td>
                <td>card</td>
                <td>info</td>
                <td>info</td>
              </tr>
              <tr>
                <td>00</td>
                <td>00</td>
                <td>00</td>
                <td>00</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="container-chart">
            <div class="card-chart">
          <div class="card-chart-img">
          </div>
          <div class="card-chart-text">
          Chart card
          </div>
            </div>
          <div class="card-chart">
          <div class="card-chart-img">
          </div>
          <div class="card-chart-text">
          Chart card
          </div>
            </div>
        </div>

      </div>

    </div>

    <div class="container-bottom">
      <div class="card-news">
        <h3>Latest News</h3>
        <p>Prudential Plans to Boost Life Insurance Prices for Vapers</p
      </div>
    </div>

  </div>

</div>
