<div class="container">
  <div class="sidebar">
    <li class="sidebar-item" aria-labelledby="navbarDropdown">
      <ul class="cat-dropdown">Categories</ul>
      <ul class="year-dropdown">Year</ul>
        <%= link_to 2017, '#' %>
        <%= link_to 2018, '#' %>
        <%= link_to 2019, '#' %>
    </li>
  </div>
</div>
