

<div class="container-dashboard">
  <div class="sidebar">
    <%= render 'shared/sidebar' %>
<%= link_to "UPLOAD DATA", new_file_upload_path %>
<br>
<%= link_to "DIVE INTO...", "#" %>
<br>
  </div>
  <div class="card-kpi">
    KPI card
  </div>
  <div class="card-table">
    Table card
  </div>
  <div class="card-chart">
    Chart card
  </div>
  <div class="card-news">
    News card
  </div>
</div>
