<h1>GENERAL OVERVIEW</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<%= link_to "UPLOAD DATA", new_file_upload_path %>
<br>
<%= link_to "DIVE INTO...", "#" %>
<br>
<%= image_tag "Pages_index.png" %>
