<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for contacting Fenix, <%= @contact.first_name %></h1>
    <p>
      Your request has been correctly submitted and we will get in touch with you shortly.<br>
    </p>
    <p>Best regards,</p>
    <p>Geraldine Vanderkelen, Fenix CEO & Founder</p>
  </body>
</html>
