.banner {
  background-size: cover;
  background-position: center;
  padding: 250px 0;
}

.banner h1 {
  color: white;
  text-shadow: 1px 1px 3px rgba(18, 23, 43,0.2);
  font-size: 42px;
  margin-bottom: 10px;
  // font-weight: bold;
}

.banner p {
  font-size: 24px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(18, 23, 43,0.2);
}

.banner .btn-yellow {
  margin-top: 60px;
}

// .banner .banner-content {
//   padding-top: 8rem;
//   padding-bottom: 2.125rem;
//   text-align: center;
// }

// .banner .text-container {
//   margin-bottom: 3rem;
// }

// .banner h1 {
//   margin-bottom: 0.5rem;
//   color: #fff;
// }

// .banner .p-large {
//   margin-bottom: 2rem;
//   color: #dfe5ec;
// }

// .banner .btn-solid-lg {
//   margin-right: 0.5rem;
//   margin-bottom: 1.25rem;
// }
