// banner design DASHBOARD
.banner {
  background-size: cover;
  background-position: center center;
  padding: 250px 0;
}

.banner h1 {
  color: #e9db8d;
  text-shadow: 1px 1px 3px rgba(18, 23, 43,0.2);
  // font-size: calc(42px + 0.5vw) ;
  margin-bottom: 10px;
}

.banner p {
  // font-size: calc(24px + 0.5vw);
  color: #e9db8d;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(18, 23, 43,0.2);
}


// banner design CONSULTING HUB
// -- TO REACTIVATE UPON INTEGRATION OF THE CONSULTING HUB PROJECT

// .banner {
//   background-size: cover;
//   background-position: center;
//   padding: 150px 0;
// }

// .banner h1 {
//   margin: 0;
//   color: $white;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   font-size: 32px;
//   font-weight: bold;
// }

// .banner p {
//   font-size: 20px;
//   color: $white;
//   opacity: .7;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
// }

// .banner .btn-flat {
//   margin-right: 20px;
//   margin-top: 60px;
// }

// -- TO REACTIVATE UPON INTEGRATION OF THE CONSULTING HUB PROJECT
