
.btn-yellow {
  color: $white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $yellow;
  opacity: 1;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-bottom: 10px;
}

.btn-yellow:hover {
  color: $white;
  opacity: 0.8;
  text-decoration: none;
}

.btn-blue {
  color: $white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $darkblue;
  opacity: 1;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-bottom: 10px;
}

.btn-bleu:hover {
  color: $white;
  opacity: 0.8;
  text-decoration: none;
}
