
.btn-yellow {
  color: $white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $yellow;
  opacity: 1;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-bottom: 10px;
  transition: background 0.3s ease;
}

.btn-yellow:hover {
  background: $yellow;
  color: $white;
  opacity: 0.8;
  text-decoration: none;
}

.sidebar-btn-yellow {
  color: $white;
  padding: 4px 24px;
  border-radius: 4px;
  background: $yellow;
  opacity: 1;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-bottom: 5px;
  transition: background 0.3s ease;
  height: 36px;
  width: 130px;
  box-shadow: none;
}

.sidebar-btn-yellow:hover {
  background: $yellow;
  color: $white;
  opacity: 0.8;
  text-decoration: none;
}

.sidebar-btn-yellow button_to {
  color: $white;
}

.btn-blue {
  color: $white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $mediumblue;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-bottom: 10px;
  transition: background 0.3s ease;
}

.btn-bleu:hover {
  color: $white;
  background: $mediumbluehover;
  text-decoration: none;
}
