
.btn-yellow {
  color: $white;
  text-align: center;
  padding: 8px 24px;
  border-radius: 4px;
  background: $yellow;
  opacity: 1;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-bottom: 5px;
  transition: background 0.3s ease;
  &:hover {
    opacity: 0.8;
    color: $white;
  }
}

.sidebar .btn-yellow {
  height: 36px;
  width: 130px;
  box-shadow: none;
  &:hover {
    opacity: 0.8;
  }
}

.btn.btn-blue {
  color: $white;
  text-align: center;
  width: 130px;
  border-radius: 4px;
  background: $mediumblue;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-bottom: 10px;
  transition: background 0.3s ease;
  &:hover {
    opacity: 0.8;
  }
}

.sidebar .btn.btn-blue {
  margin-bottom: 5px;
  margin-top: 20px;

}

.btn-turquoise {
  color: $white;
  width: 150px;
  text-align: center;
  padding: 8px 24px;
  border-radius: 4px;
  background: $turquoise;
  opacity: 1;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-bottom: 5px;
  transition: background 0.3s ease;
  &:hover {
    opacity: 0.8;
    color: $white;
  }
}

.sidebar .btn-turquoise {
  height: 36px;
  width: 130px;
  box-shadow: none;
  &:hover {
    opacity: 0.8;
  }
}
