.dashboard-content {
 margin-left: 200px;
}

.sidebar {
  background: blue;
  width: 20%;
}

.card-kpi {
  background: red;
  overflow: hidden;
  opacity: 1;
}

.card-kpi + .card-kpi {
  margin-top: 25px;
}

.card-kpi:hover {
  opacity: 0.8;
}

.card-chart {
  background: green;
}

.card-chart-image {
 background: none;
}

.card-chart:hover {
  opacity: 0.8;
}

.card-table {
  position: relative;
  background: yellow;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  padding: 10px;
  min-height: 500px;
}

.card-table:hover {
  opacity: 0.8;
}

.card-news {
  background: pink;
}

.card-news:hover {
  opacity: 0.8;
}

.icon {
  color: $mediumblue;
  font-size: 20px;
}

.icon:hover {
  font-size: 22px;
  color: $mediumbluehover;
}

// h1 {
//   margin-bottom: 5px;
//   font-size: 12px;
// }






