/*===========================
       CLIENT CSS
===========================*/

.counter-area {
  background: $mediumblue;
  padding-top: 50px;
  padding-bottom: 100px;
}

.container-counter {
  display: flex;
  justify-content: space-around;
}

.client-logo-area {
  padding-top: 50px;
  padding-bottom: 100px; }

.counter-area h2{
  color: $white;
  font-size: 44px;
  line-height: 55px;
  margin-bottom: 20px;
}

.counter-area h3{
  color: $white;
  font-size: 50px;
  }

  .counter-area p{
  color: $white;
  font-size: 24px;
  }
