
// General LAYOUT
html body {
  background: $white;
  width: 100%;
  margin: 0;
  padding: 0;
}

main {
 min-height: calc(100vh - 98px - 100px);
}

.container {
 margin-top: 30px;
}

.container-all {
  position: relative;
  display: flex;
  margin-top: 130px;
}

.container-dashboard {
  margin-left: 50px;
  width: 100%;
}

// CONTAINER TOP AS FLEXBOX, FOR CSS GRID SEE BELOW

.container-top {
  width: 95%;
  display: flex;
  justify-content: space-around;
    // border: 3px solid red;
}

.container-left {
  background: $white;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: between;
  // border: 3px solid orange;
}

.container-right {
  width: 70%;
  flex-grow: 1;
  // border: 3px solid blue;
  justify-content: space-between;
}

.container-chart {
  display: flex;
  justify-content: space-between;
  flex: 1;
  // border: 3px solid pink;
}

.container-bottom {
  width: 95%;
  margin-top: 20px;
  margin-bottom: 30px;
  // border: 3px solid purple;
}


// LOGIN PAGE
.container-login {
  background: $white;
  width: 50%;
}

// LOGIN AND UPLOAD
.container-form {
  background-color: white;
  margin-top: 130px;
  padding: 40px;
}

// UPLOAD
.container-upload {
  padding-bottom: 50px;
}

.container-upload h2 {
  margin-top: 50px;
  margin-bottom: 30px;
}

.container-upload h1 {
  margin-bottom: 30px;
}

.container-last-upload {
  margin-top: 130px;
}

.container-why-usp {
  width: 350px;
  height: 650px;
  border: 3px solid orange;
    &:hover {
    box-shadow: 0 4px 8px rgba(229, 232, 244, 1);
  }
}



// GRID - to be reintegrated in case we wish to have a viz that
// adapts to the size of the screen.

// .container-top {
//   height: 100vh;
//   width: 100%;
//   // border: 3px solid orange;
//   display: grid;
//   grid-template-columns: 1fr 2fr;
//   grid-gap: 10px;
//   padding-right: 30px;
// }
