
.container-login {
  padding-top: 50px;
}

// .container-upload h1 {
//  padding-top: 50px;
// }

.container-upload {
  padding-bottom: 50px;
}

.container-upload h2 {
  margin-top: 50px;
}

.container-dashboard {
  margin-top: 130px;
  margin-left: 15vw;
  height: 100vh;
  // border: 3px solid red;
  justify-content: center;
}

// GRID

// .container-top {
//   height: 100vh;
//   width: 100%;
//   // border: 3px solid orange;
//   display: grid;
//   grid-template-columns: 1fr 2fr;
//   grid-gap: 10px;
//   padding-right: 30px;
// }


// FLEXBOX

.container-top {
  // height: 100vh;
  width: 95%;
  // border: 3px solid orange;
  display: flex;
  // justify-content: space-between;
  // margin-top: 0px;
  justify-content: space-around;
}

.container-right {
  // padding-right: 40px;
  flex-grow: 1;
  // border: 3px solid blue;

  justify-content: between;
  // margin-left: 20px;
}

.container-chart {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  // border: 3px solid pink;
  // padding: 10px;
  // flex-wrap: wrap;
}

.container-bottom {
  // border: 3px solid purple;
  width: 95%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.container-form{
  background-color: white;
  margin-top: 120px;
  padding: 40px;
  & h1 {
    text-align: center;
  }
}

.container-left {
  background: $white;
  width: 400px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: between;
  // align-items: stretch;
  // padding: 10px;
  flex-grow: 1;
  // margin-top:0px;
  // border: 3px solid green;
  // margin-right: 20px;
}

// .container-table {
//   // display: flex;
//   // justify-content: space-around;
//   flex-grow: 1;
//   // height: 90%;
//   // border: 3px solid brown;
//   // padding: 10px;
//   // flex-wrap: wrap;
// }

html body {
  background: $white;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  // overflow-x: hidden;
}

main {
 min-height: calc(100vh - 98px - 100px);
}

// padding:10px 5px 15px 20px;

//     top padding is 10px
//     right padding is 5px
//     bottom padding is 15px
//     left padding is 20px
