
// General LAYOUT
html body {
  background: $white;
  width: 100%;
  margin: 0;
  padding: 0;
}



body {
  /* Never get smaller than this */
  font-size: 14px;
}

@media (min-width:600px) {
  body {
    font-size: 16px;
  }
}

@media (min-width:800px) {
  body {
    font-size: 18px;
  }
}

@media (min-width:1000px) {
  body {
    font-size: 20px;
  }
}


.carousel-right p {
  /* Never get smaller than this */
  font-size: 8px;
  line-height: 0.2;
}

@media (min-width:600px) {
 .carousel-right p {
    font-size: 12px;
  }
}

@media (min-width:800px) {
  .carousel-right p {
    font-size: 18px;
  }
}

@media (min-width:1000px) {
  .carousel-right p {
    font-size: 20px;
  }
}



body h1 {
  /* Never get smaller than this */
  font-size: 44px;
}

@media (min-width:600px) {
  body h1 {
    font-size: 48px;
  }
}

@media (min-width:800px) {
  body h1 {
    font-size: 52px;
  }
}

@media (min-width:1000px) {
  body h1 {
    font-size: 56px;
  }
}

body h2 {
  /* Never get smaller than this */
  font-size: 36px;
}

@media (min-width:600px) {
  body h2 {
    font-size: 38px;
  }
}

@media (min-width:800px) {
  body h2 {
    font-size: 40px;
  }
}

@media (min-width:1000px) {
  body h2 {
    font-size: 42px;
  }
}


body h3 {
  /* Never get smaller than this */
  font-size: 18px;
}

@media (min-width:600px) {
  body h3 {
    font-size: 20px;
  }
}

@media (min-width:800px) {
  body h3 {
    font-size: 34px;
  }
}

@media (min-width:1000px) {
  body h3 {
    font-size: 36px;
  }
}
// @media (min-width:1000px) {
//   body {
//     /* Never get larger than this */
//     font-size: 20px;
//   }
// }
// .text-responsive {
//   font-size: calc(100% + 1vh + 1vw);
// }

main {
 min-height: calc(100vh - 98px - 100px);
}

.container {
 margin-top: 30px;
}

.container-all {
  position: relative;
  display: flex;
  margin-top: 130px;
}

.container-dashboard {
  margin-left: 50px;
  width: 100%;
}

// CONTAINER TOP AS FLEXBOX, FOR CSS GRID SEE BELOW

.container-top {
  width: 95%;
  display: flex;
  justify-content: space-around;
    // border: 3px solid red;
}

.container-left {
  background: $white;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: between;
  // border: 3px solid orange;
}

.container-right {
  width: 70%;
  flex-grow: 1;
  // border: 3px solid blue;
  justify-content: space-between;
}

.container-chart {
  display: flex;
  justify-content: space-between;
  flex: 1;
  // border: 3px solid pink;
}

.container-bottom {
  width: 95%;
  margin-top: 20px;
  margin-bottom: 30px;
  // border: 3px solid purple;
}


// LOGIN PAGE
.container-login {
  background: $white;
  width: 50%;
}

// LOGIN AND UPLOAD
.container-form {
  background-color: white;
  margin-top: 130px;
  padding: 40px;
}

// UPLOAD
.container-upload {
  padding-bottom: 50px;
}

.container-upload h2 {
  margin-top: 50px;
  margin-bottom: 30px;
}

.container-upload h1 {
  margin-bottom: 30px;
}

.container-last-upload {
  margin-top: 130px;
}

.container-why-wrapper {
  width: 350px;
  height: 650px;
  border: 3px solid orange;
    // &:hover {
    // box-shadow: 0 4px 8px rgba(229, 232, 244, 1);
  // }
}

.container-why-wrapper:hover {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.container-why-usp-front, .container-why-usp-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.container-why-usp-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.container-why-usp-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.why-area h3 {
  line-height: 1.5vh;
}


// GRID - to be reintegrated in case we wish to have a viz that
// adapts to the size of the screen.

// .container-top {
//   height: 100vh;
//   width: 100%;
//   // border: 3px solid orange;
//   display: grid;
//   grid-template-columns: 1fr 2fr;
//   grid-gap: 10px;
//   padding-right: 30px;
// }


/* CAROUSEL STYLE */
.carousel-item img {
  opacity: 0.3;
  height: 60vh;
  width: 50vw;
  // border: 3px solid red;
  // width: 90%;
  // margin-left: 0;
  // margin-top: 1vh;
}

.carousel-caption {
//   display: flex;
  // border: 3px solid orange;
//   width: 80%;
  height:100%;
//   margin-left: -100px;
//   margin-top: -100px;
  position: absolute;
  right: 10%;
  bottom: 0;
  left: 10%;
  z-index: 10;
  padding-top: 0;
  padding-bottom: 0;
}

.components {
  height:100%;
  // border: 3px solid red;
  flex-direction: column;
  vertical-align: center;
  // padding: 2vh 1vw;
  // padding: 1vh 1vw;
    display: flex;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
    color: white;
    margin: 0.5vh 0.5vw;

}

// .carousel-left {
//   // border: 3px solid purple;
//   width: 60%;

//   color: white;
//   margin: 0.5vh 0.5vw;
//   display: flex;
//   justify-content: center;
//   // background-color: $darkblue;
//   // color: $yellow;
// }

.carousel-inner .components h3 {
// font-size: calc(32px + 0.5vw);
// font-size: bold;
text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

// .carousel-right {
//   // border: 3px solid green;
//     width: 90%;
//     color: white;
//     margin: 0.5vh 0.5vw;
// }

.carousel-inner .components p {
  line-height: 3vh;
  margin-top: 0vh;
  margin-bottom: 0vh;
  // font-size: calc(18px + 0.5vw);
  color: $darkblue;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    text-align: justify;
  text-justify: inter-word;
  // text-align: center;
}

.bullets {
  text-align: left;
  padding-left: 5vw;
  margin-top: 2vh;
}

.carousel-control-next:hover {
  color: blue;
opacity: 1;
}

.carousel-indicators li {
  background-color: $darkblue;

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  // border-radius: 50%;
  // border: 1px solid black;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: '>';
  font-size: calc(36px + 0.5vw);
  color: $darkblue;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: calc(36px + 0.5vw);
  color: $darkblue;
}

@media only screen and (max-device-width: 736px) {
      .show-mobile {
        display: block;
      }
      .hide-mobile {
        display: none;
      }
    }

 @media only screen and (min-device-width: 737px) {
      .show-mobile {
        display: none;
      }
      .hide-mobile {
        display: block;
      }
    }
// .carousel-control-prev-icon span {
//   color: $yellow;
// }

// .carousel-control-next-icon span {
//   color: $yellow;
// }
