.navbar-fenix {
  justify-content: space-between;
  background: white;
  color: $darkblue;
  padding: 10px 50px;
  display: flex;
  align-items: center;
}

.navbar-fenix .welcome-user {
  margin-right: 10px;
  display: flex;
  align-items: center;
  margin-bottom: O;
}

.navbar-light .navbar-nav .nav-link  {
  align-items: center;
  color: $darkblue;
  }

.navbar-fenix .navbar-collapse {
  flex-grow: 0;
}

.navbar-fenix .navbar-brand img {
  width: 60px;
  object-fit: cover;
}

.nav-item {
  display: inline-block;
}
.nav-item li {
  display: inline-block;
}

