
// NAVBAR from DASHBOARD
.navbar-fenix {
  position: fixed;
  background-color: transparent;
  top: 0;
  width: 100%;
  justify-content: space-between;
  color: $darkblue;
  padding: 10px 50px;
  display: flex;
  align-items: center;
  z-index: 100;
  transition: background-color 1s ease 0s;
}

.navbar-fenix.solid {
  background-color: $white;
  box-shadow: 0 0 4px $darkblue;
}

.navbar-fenix p {
  margin: 0 0 0 0;
  color: $yellow;
}

.navbar-light .navbar-nav .nav-link  {
  color: $darkblue;
  margin-right: 50px;
  font-family: "Roboto";
  font-size: 1.5em;
}

.navbar-light .navbar-nav .nav-link:hover  {
  color: $blue;
}

.navbar-fenix .navbar-collapse {
  flex-grow: 0;
}

.navbar-fenix .navbar-brand img {
  width: 60px;
  object-fit: cover;
}

.nav-item {
  display: inline-block;
}
.nav-item li {
  display: inline-block;
}

.navbar h4 {
  text-family: "Roboto";
  text-size: 12px;
}

#close-sidebar-btn-js {
  text-align: right;
  display: inline-block;
  width: 100%;
}

// shall we move this section to the layout part?

header {
  height: 100px;
}
// ---------------


// NAVBAR from CONSULTING HUB

// .navbar-finconsult {
//   justify-content: space-between;
//   background: $turquoised;
//   color: $white;
//   padding: 10px 50px;
//   display: flex;
// }

// .navbar-light .navbar-nav .nav-link  {
//   align-items: center;
//   color: $white;
//   }

// .navbar-finconsult .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-finconsult .navbar-brand img {
//   width: 60px;
//   object-fit: cover;
// }

// .nav-item {
//   display: inline-block;
// }
// .nav-item li {
//   display: inline-block;
// }
