.navbar-fenix {
  justify-content: space-between;
  background: white;
  color: $darkblue;
  padding: 10px 50px;
  display: flex;
  align-items: center;
}
.navbar {
 position: fixed;
 top: 0;
 width: 100vw;
}

.navbar-fenix p {
  margin: 0 10px 0 0;
}

.navbar-light .navbar-nav .nav-link  {
  align-items: center;
  color: $darkblue;
  }

.navbar-fenix .navbar-collapse {
  flex-grow: 0;
}

.navbar-fenix .navbar-brand img {
  width: 60px;
  object-fit: cover;
}

.nav-item {
  display: inline-block;
}
.nav-item li {
  display: inline-block;
}
header {
  height: 98px;
}
