// SERVICES CARDS on landing page.
// to be integrated in the various sections of
// the cards as Services are not a component on itself.
.service-area .service-one {
  background: $white;
}

.container-service {
  display: flex;
  align-items: center;
}

.service-image {
  margin-right: 50px;
  margin-left: 50px;
  padding: 50px 0px;
}

.service-image img{
  height: 300px;
}

.service-text h2{
  color: $darkblue;
  // font-size: calc(44px + 0.5vw);
  line-height: 55px;
  margin-bottom: 20px;
}

.service-text .text {
  margin-top: 20px;
}
