.wrapper {
  display: flex;
  justify-content: space-between;
}
.sidebar-main {
  width: 200px;
  height: 100%;
  position: fixed;
  bottom: 100px;
  // height: calc(100vh - 106px - 100px);
  height: 100vh;
  top: 98px;
  left: 0;
  background-color: $darkblue;
  overflow-x: hidden;
  padding: 15px;
  z-index: 1;
}
.sidebar-item {
  display: inline-block;
}
.sidebar-item li {
  display: inline-block;
}
.sidebar-item {
  color: $white;
}
